<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h2 style="text-align: center;"><span style="background-color: #339966;"><strong>Community Create</strong></span></h2>
<table style="border-collapse: collapse; width: 100%; height: 243px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 18.2254%; height: 18px; text-align: center;">제품명</td>
<td style="width: 62.8297%; height: 18px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 18.2254%; height: 18px; text-align: center;">작성자</td>
<td style="width: 62.8297%; height: 18px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 18.2254%; height: 207px; text-align: center;">comment</td>
<td style="width: 62.8297%; height: 207px; text-align: center;">&nbsp;</td>
</tr>
<tr>
<td style="width: 18.2254%; text-align: center;">파일 첨부</td>
<td style="width: 62.8297%; text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: right;"><button>저장</button></p>
</body>
</html>