<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h2 style="text-align: center;"><span style="background-color: #339966;"><strong>Community Read</strong></span></h2>
<table style="border-collapse: collapse; width: 100%; height: 243px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 56.9544%; height: 18px; text-align: left;">온고[펀딩자]</td>
<td style="width: 1.79856%; text-align: left;">2022.04.27</td>
</tr>
<tr style="height: 18px;">
<td style="width: 58.7529%; height: 18px; text-align: left;" colspan="2">감사의 마음으로 SNS 공유 이벤트를 진행합니다.</td>
</tr>
<tr style="height: 18px;">
<td style="width: 58.7529%; height: 207px; text-align: left;" colspan="2">
<p>감사의 마음으로 SNS 공유 이벤트를 진행합니다.</p>
<p>&lt;이벤트 기간&gt; 04월 27일 ~ 05월 05일</p>
<p>&lt;당첨자 발표&gt; 다육이 - 총 5명 증정</p>
<p>&lt;참여 방법&gt;</p>
<p>....</p>
</td>
</tr>
</tbody>
</table>
<p>Comment</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 85.6116%;">이미미</td>
<td style="width: 14.3884%;">2일 전</td>
</tr>
<tr>
<td style="width: 100%;" colspan="2">참여합니다~</td>
</tr>
</tbody>
</table>
<p><input style="width: 500px;" type="text" /><button>작성</button></p>
</body>
</html>