<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>식몰</title>
<link rel="stylesheet" href="../static/style/sewon.css" type="text/css"
	th:href="@{../static/style/sewon.css}">

<!-- Vendor CSS Files -->
<link href="../static/style/bootstrap.min.css" rel="stylesheet"
	type="text/css" th:href="@{../static/style/bootstrap.min.css}" />
<!-- Template Main CSS File -->
<link href="../static/style/style.css" rel="stylesheet" type="text/css"
	th:href="@{../static/style/style.css}" />

</head>
<body onload="init();">
	<div th:insert="~{header :: #top}"></div>
	<h3>BEST 제품 목록</h3>
	<h4>최근 1개월간 주문량이 많은 제품입니다</h4>
	<div align="center">
		<table class="noLineTable">
			<tr th:each="miniProductList, iterStat : ${productList}">
				<td th:each="product, miniIterStat : ${miniProductList}">
					<div>
						<a href=""
							th:href="@{/product/detail?productId=}+${product.productId}">
							<img alt="등록된 이미지가 없습니다"
							th:src="@{/getByteImage?p_name=}+${product.p_name}"
							style="width: 200px; height: 200px;" />
						</a>
						<div>
							<a href=""
								th:href="@{/product/detail?productId=}+${product.productId}"
								th:text="${userNameList.get(iterStat.index).get(miniIterStat.index)}">판매자명</a>
						</div>
						<div>
							<a href=""
								th:href="@{/product/detail?productId=}+${product.productId}"
								th:text="${product.p_name}">제품명</a>
						</div>
						<div>
							<a href=""
								th:href="@{/product/detail?productId=}+${product.productId}"
								th:text="${product.price}+원">가격</a>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
