<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
	
<!-- Vendor CSS Files -->
<link href="../static/style/bootstrap.min.css"
	rel="stylesheet" type="text/css"
	th:href="@{../static/style/bootstrap.min.css}" />
<!-- Template Main CSS File -->
<link href="../static/style/style.css" rel="stylesheet" type="text/css"
	th:href="@{../static/style/style.css}" />
</head>
<body>
<div th:insert="~{header :: #top}"></div>
<p th:text="${errorMessage}"/>

</body>
</html>