<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>식몰</title>
<link rel="stylesheet" href="../../static/style/user.css" type="text/css" >
<link rel="stylesheet" href="../static/style/sewon.css" type="text/css" th:href="@{../static/style/sewon.css}">
	
<!-- Vendor CSS Files -->
<link href="../static/style/bootstrap.min.css"
	rel="stylesheet" type="text/css"
	th:href="@{../static/style/bootstrap.min.css}" />
<!-- Template Main CSS File -->
<link href="../static/style/style.css" rel="stylesheet" type="text/css"
	th:href="@{../static/style/style.css}" />
</head>
<body>
<div th:insert="~{header :: #top}"></div>
		<!-- 유저 프로필 -->
		<div class="profileGroup">
			<!-- 유저 이미지 -->
			<a th:href="@{/myProfile/update}"><img src="@{/getImage/?imageId=}+${profile.profileImg}" class="profileImage"/></a>
			
			<!-- 유저 이름,팔로우/언팔로우버튼 -->
			<div class="rower">
				<div class="name"><h1 th:text="${profile.nickName}" ></h1></div>
<!--				<button th:if="!*${userId}==${#session.getAttribute('userId')} and !${user.userProfile.isFollowed}" th:onclick="|clickFollow(${user.userProfile.user.userId}, this)|">팔로우</button>
				<button th:if="!${user.userProfile.isloginUser} and ${user.userProfile.isFollowed}" th:onclick="|clickFollow(${user.userProfile.user.userId}, this)|">언팔로우</button>
			--></div>
			
			<!-- 유저 게시물수, 팔로우수, 팔로잉수 -->
			<div class="rower">
				<div>
					게시물<span th:text="${profile.feedCnt}" ></span>
				</div>
				<div>
					<a class="followText" th:onclick=""><span th:text="|팔로워 ${profile.FollowerCnt}|" ></span> </a>
				</div>
				<div>
					<a class="followText" th:onclick=""><span th:text="|팔로잉 ${profile.FollowingCnt}|" ></span></a>
				</div>
			</div>
			
			<!-- 유저 소개 -->
			<div class="rower2"><h4 th:text="${profile.introduce}" ></h4></div>
			<!-- 제품관리페이지이동버튼, 피드업로드버튼 -->
			<div>
				<div th:if="${profile.userId}==${session.userSession.User.userId}">
					<a th:href="@{/product/manage?userId=}+${profile.userId}"><button class="goProjectPagebtn">제품관리</button></a>
				</div>
				<button class="uploadbtn">피드 업로드</button>
				<!--피드 종류 선택창 -->
				<div id="modal" class="selectContentCategory">
			      <div class="modal-window">
			            <div class="modal-title"><br />업로드 할 피드 종류 선택</div>
			            <div class="modal-close">X</div>
			            <div class="modal-btn snsContent" th:href="@{/content/uploadSnsContent}">
			                     일상피드
			            </div>
			            <div class="modal-btn saleContent" th:href="@{/content/uploadSaleContent}">
			                     판매피드
			            </div>
			      </div>
			 
			    </div>
			</div>
	
		</div>
		<!-- 유저 프로필 끝 -->
		<!-- 업로드 피드 리스트(구현 중) -->

		<hr />

		<div class="photo">

			<!-- content List 
			<div class="photo1">
				<th:if var="item" items="${profile.contentList}">
					<div class="feedRow">
						<a href="userPage/feed"><img class="feedImage" src="${item.feed}">1</a>
						
					</div>
					<div class="feedRow">
						<a href="userPage/feed"><img class="feedImage" src="${item.feed}">2</a>
					</div>
					<div class="feedRow">
						<a href="userPage/feed"><img class="feedImage" src="${item.feed}">3</a>
					</div>
				</c:forEach>
			</div>-->

		</div>

	</div>
	
	
    
    <script type="text/javascript">
        
        const modal = document.querySelector(".selectContentCategory");
        const openModal = document.querySelector(".uploadbtn");
        const closeModal = document.querySelector(".modal-close");
        const snsContent = document.querySelector("snsContent");
        const saleContent = document.querySelector("saleContent");
        
       	openModal.addEventListener("click", function(){
       		modal.style.display ="flex";
       	})
       	
       	closeModal.addEventListener("click", function(){
       		modal.style.display ="none";
       	})
        
      </script>
</body>
</html>